$white: #fff;
$black: #000;
$grey: #999;
$dark-grey: #333;
$light-grey: #efeded;
$very-light-grey: rgba(241, 241, 241, 0.953);
$neon-green: rgb(0, 255, 123);
$green: #007f5f;
$light-green: #02755840;
$dark-green: rgb(1, 107, 81);
$instagram: #fd044d;
$facebook: #0866ff;
$twitter: #1da1f2;
