@use 'colors' as c;

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	scroll-padding-top: 155px;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.6rem;
}

.sticky-body {
	overflow: hidden;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.section-title {
	padding: 2em 0 1.5em 0;
	text-align: center;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 2rem;
}

//cookies
.hide {
	display: none;
}

.cookie-box {
	position: fixed;
	bottom: 0;
	padding: 2em 1.5em;
	width: 100%;
	font-size: 1.3rem;
	background-color: c.$dark-grey;
	color: c.$white;
	opacity: 0;
	transform: translateY(100%);
	animation: show-cookies 0.5s 0.5s forwards;

	.btn-box {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;

		.cookie-btn {
			margin-top: 1.2em;
			padding: 0.5em 2.3em;
			font-size: 1.6rem;
			border: none;
			border-radius: 0.5em;
			color: c.$white;
			background-color: c.$green;
			transition: background-color 0.3s, transform 0.3s;
			cursor: pointer;

			&:hover {
				transform: scale(1.05);
				background-color: c.$dark-green;
			}
		}
	}

	@keyframes show-cookies {
		to {
			opacity: 1;
			transform: translateY(0);
		}
	}
}

// header
.header {
	position: fixed;
	display: flex;
	flex-direction: column;
	top: 0;
	left: 0;
	width: 100%;
	background-color: c.$white;
	z-index: 1000;

	.navbar {
		position: relative;
		padding: 1em 1em;

		.brand-logo {
			a {
				text-decoration: none;
				font-size: 2.7rem;
				color: c.$black;

				i {
					margin-right: 0.2em;
					font-size: 3rem;
					color: c.$dark-grey;
				}
			}
		}

		.hamburger {
			position: absolute;
			top: 2.2em;
			right: 1em;
			transform: translateY(-50%);
			z-index: 500;

			&-inner,
			&-inner:before,
			&-inner:after {
				background-color: c.$black;
				z-index: 500;
			}

			&:focus {
				outline: none;
			}
		}

		.nav {
			&-desktop {
				display: none;
			}

			&__link {
				position: relative;
				display: inline-block;
				text-decoration: none;
			}

			.active {
				font-weight: bold;
				color: c.$green;
			}
		}
	}
}

.nav-mobile {
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	top: 2em;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	background: linear-gradient(to bottom, #323232 0%, #3f3f3f 40%, #1c1c1c 150%),
		linear-gradient(to top, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.25) 200%);
	background-blend-mode: multiply;
	overflow: scroll;
	transform: translateX(-102%);
	transition: transform 0.3s;
	z-index: 10;

	&--active {
		transform: translateX(0);
	}

	a.nav__link {
		margin: 0.8em 0em;
		padding: 0.3em 1em;
		color: c.$white;
		font-size: 1.6rem;
		text-decoration: none;
		transition: font-weight 0.3s, transform 0.3s;

		&:hover {
			font-weight: bold;
			transform: scale(1.2);
		}
	}
}

//hero-img
.hero-img {
	position: relative;
	margin-top: 4em;
	height: 37vh;
	background-image: url('../../dist/img/jungle-640.jpg');
	background-size: cover;
	background-position: center;
	z-index: 0;

	.hero__shadow {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.7);
		z-index: -1;
	}

	.hero__text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 0em 1.5em;
		width: 100%;
		height: 100%;
		color: c.$white;
		z-index: 1;

		p {
			margin-bottom: 0.3em;
			font-size: 1.4rem;
		}

		h1 {
			font-size: 2rem;
		}
	}
}

// main
.main {
	.aboutus {
		display: flex;
		flex-direction: column;
		padding: 0em 1.7em;

		&__img {
			margin-bottom: 1em;
		}

		&__text {
			font-size: 1.4rem;
			line-height: 2.4rem;

			h3 {
				font-size: 1.7rem;
				margin-bottom: 0.4em;
			}
		}
	}

	.banner {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 2.3em;
		background-image: url('../../dist/img/girl-1280.jpg');
		background-position: center;
		background-size: cover;
		height: 25vh;
		z-index: 0;

		&__shadow {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(5, 6, 5, 0.5);
			z-index: -1;
		}

		&__text {
			padding: 0.7em 1.7em;
			font-size: 1.5rem;
			font-weight: bold;
			border: 1px solid c.$white;
			color: c.$white;
			z-index: 1;
		}
	}
}

//offer
.offer {
	padding: 1em 2em;

	.sub-title {
		margin-bottom: 1em;
		text-align: center;
	}

	&__cards {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.card {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin: 1em 0em;
			padding: 2em 1.5em;
			width: 95%;
			height: 100%;
			box-shadow: 0px 0px 10px #999;
			border-radius: 0.5rem;

			&-title {
				font-size: 2.1rem;
			}

			&-price {
				margin: 0.5em 0;
				font-size: 3rem;
				font-weight: bold;
			}

			.options {
				margin-bottom: 1em;
				font-size: 1.5rem;

				p {
					margin-bottom: 0.5em;

					i {
						margin-right: 0.3em;
					}

					.fa-check {
						color: c.$neon-green;
					}
				}

				.minus {
					color: c.$grey;
				}
			}

			.select-btn {
				padding: 0.5em 3.5em;
				border: none;
				background-color: c.$white;
				box-shadow: 0px 0px 10px #999;
				border-radius: 0.5rem;
				font-size: 1.5rem;
				cursor: pointer;
				transition: color 0.3s, background-color 0.3s;

				&:hover {
					background-color: c.$neon-green;
				}
			}
		}
	}

	.btn-more {
		display: flex;
		justify-content: center;
		align-items: center;

		.more-offer-btn {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-top: 1.7em;
			padding: 0.7em 1.2em;
			font-size: 1.5rem;
			font-weight: bold;
			text-decoration: none;
			color: c.$white;
			background-color: c.$green;
			border-radius: 0.4em;
			box-shadow: 0px 0px 10px #999;
			transition: background-color 0.3s;
			cursor: pointer;
		}

		.more-offer-btn:hover {
			background-color: c.$black;
		}
	}
}

//all-offer
.all-offer {
	padding: 1em 1.5em;

	.sub-title {
		margin-bottom: 2em;
		text-align: center;
		font-size: 1.5rem;
	}

	&__cards {
		display: flex;
		flex-direction: column;
		align-items: center;

		.card {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin: 1em 0em;
			width: 95%;
			height: 100%;
			box-shadow: 0px 0px 10px #999;
			border-radius: 0.5rem;
			overflow: hidden;

			.card__img {
				padding: 7em;
				width: 100%;
				height: 100%;
				background-size: cover;
				background-position: center;
				transition: transform 0.3s;

				&:hover {
					transform: scale(1.05);
				}
			}

			.card__text {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				padding: 1.7em 1em;
				width: 100%;

				.card-title {
					font-size: 2rem;
				}

				.card-price {
					margin: 0.5em 0;
					font-size: 3.2rem;
					font-weight: bold;
				}

				.options {
					margin-bottom: 1em;
					font-size: 1.5rem;

					p {
						margin-bottom: 0.4em;

						i {
							margin-right: 0.3em;
						}

						.fa-check {
							color: c.$neon-green;
						}
					}

					.minus {
						color: c.$grey;
					}
				}

				.select-btn {
					padding: 0.5em 3.5em;
					border: none;
					background-color: c.$white;
					box-shadow: 0px 0px 10px #999;
					border-radius: 0.5rem;
					font-size: 1.5rem;
					cursor: pointer;
					transition: color 0.3s, background-color 0.3s;

					&:hover {
						background-color: c.$neon-green;
					}
				}
			}
		}

		.first {
			.card__img {
				background-image: url('../img/forest-4750354_640.jpg');
			}
		}

		.second {
			.card__img {
				background-image: url('../img/book-2178586_640.jpg');
			}
		}

		.third {
			.card__img {
				background-image: url('../img/pathway-3596034_640.jpg');
			}
		}

		.fourth {
			.card__img {
				background-image: url('../img/forest-1072828_640.jpg');
			}
		}

		.fifth {
			.card__img {
				background-image: url('../img/bridge-2767545_640.jpg');
			}
		}
	}
}

//contact
.contact {
	padding: 0em 1.5em;

	.sub-title {
		margin-bottom: 2em;
		font-size: 1.4rem;
		text-align: center;
	}

	.form {
		form {
			display: flex;
			justify-content: center;
			flex-direction: column;
			padding: 0.5em;
			font-size: 1.5rem;

			.form-box {
				display: flex;
				align-items: center;
				flex-direction: column;
				margin-bottom: 0.7em;

				label {
					display: inline-block;
					margin-bottom: 0.4em;
					width: 100%;
					max-width: 800px;
					font-size: 1.4rem;
				}

				input,
				textarea {
					padding: 0.6em 1em;
					width: 100%;
					max-width: 800px;
					font-size: 1.4rem;
					border-radius: 0.5em;
					border: 1px solid c.$grey;
				}

				input:focus,
				textarea:focus {
					outline: none;
					background-color: rgba(0, 128, 0, 0.091);
					border: 1px solid c.$green;
				}

				textarea {
					min-height: 8em;
					font-family: inherit;
				}
			}

			.form-box.error input,
			.form-box.error textarea {
				border: 1px solid red;
				background-color: rgba(255, 0, 0, 0.1);
			}

			.form-box .error-text {
				margin: 0.4em 0 0 1em;
				font-size: 1.3rem;
				color: red;
				visibility: hidden;
			}

			.form-box.error .error-text {
				visibility: visible;
			}

			.rodo-box {
				display: flex;
				justify-content: center;
				align-items: center;

				p {
					margin-bottom: 1em;
					width: 100%;
					max-width: 800px;
					text-align: center;
					font-size: 1.2rem;
				}
			}

			.btns {
				display: flex;
				justify-content: space-evenly;
				align-items: center;
				margin-top: 1.3em;
				width: 100%;

				.send,
				.clear {
					padding: 0.7em 1.2em;
					width: 40%;
					background-color: c.$green;
					color: c.$white;
					font-size: 1.5rem;
					border-radius: 0.5em;
					border: none;
					transition: background-color 0.3s;
					cursor: pointer;

					&:hover {
						background-color: c.$black;
					}
				}
			}

			.popup {
				display: none;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				position: absolute;
				// top: -100%;
				left: 50%;
				transform: translate(-50%, -50%);
				padding: 3em 1.5em;
				width: 80%;
				background-color: c.$light-grey;
				border-radius: 0.5em;
				border: 2px solid c.$black;
				transition: top 0.5s;

				p {
					text-align: center;
					margin-bottom: 1em;
				}

				.close {
					padding: 0.5em 1.5em;
					border: none;
					border-radius: 0.5em;
					font-size: 1.5rem;
					color: c.$white;
					background: c.$green;
					cursor: pointer;
					transition: background-color 0.3s, color 0.3s;

					&:hover {
						background-color: c.$black;
						color: c.$white;
					}
				}
			}
		}
	}

	.contact-links {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 4em;
		padding: 4em 1em;
		background-color: c.$very-light-grey;
		border-radius: 0.5em;

		.list {
			list-style: none;
		}

		.social-media {
			display: flex;
			justify-content: space-between;
			width: 100%;

			.list {
				display: flex;
				justify-content: space-evenly;
				width: 100%;

				&__element {
					.fa-brands {
						padding: 0.4em;
						border-radius: 0.3em;
						font-size: 2.7rem;
						transition: transform 0.3s, background-color 0.3s, border 0.3s;
					}

					.fa-brands:hover {
						transform: scale(1.1);
						background-color: c.$white;
						border: 1px solid c.$white;
					}

					.fa-facebook {
						color: c.$facebook;
						border: 1px solid c.$facebook;
					}

					.fa-instagram {
						color: c.$instagram;
						border: 1px solid c.$instagram;
					}

					.fa-twitter {
						color: c.$twitter;
						border: 1px solid c.$twitter;
					}
				}
			}
		}

		.other {
			display: flex;
			margin-top: 1.5em;

			.list {
				&__element {
					margin: 1em 0;

					p {
						display: flex;
						align-items: center;
						font-size: 1.6rem;

						.fa-solid {
							margin-right: 0.4em;
							font-size: 2.2rem;
						}
					}
				}
			}
		}
	}

	.google-map {
		margin-top: 4em;

		.sub-title {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			span {
				padding: 0em 1em 0.4em;
				border-bottom: 1px solid c.$green;
			}

			i {
				margin-top: 1em;
				margin-bottom: 0.5em;
				padding: 0.5em 0.65em;
				border: 1px solid c.$green;
				border-radius: 50%;
				font-size: 2.1rem;
				color: c.$green;
			}
		}

		.adress-box {
			margin-top: 2em;
			font-size: 1.4rem;
			font-weight: bold;
			text-align: center;
			color: c.$green;
		}

		.map {
			margin-top: 1.5em;
			margin-bottom: 3em;
			width: 100%;
			border-radius: 0.5em;
		}
	}
}

// footer
.footer {
	margin-top: 3em;
	background-color: c.$light-grey;

	.wrapper {
		.footer__top {
			display: none;
		}
	}

	.footer__bottom {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 1.5em 0em;
		font-size: 1.3rem;
	}
}

// ------------------ media ------------------

@media (min-width: 310px) {
	.nav-mobile {
		a.nav__link {
			margin: 0.8em 0em;
			font-size: 1.8rem;
		}
	}
}

@media (min-width: 568px) {
	//cookies
	.cookie-box {
		padding: 2.2em;
		font-size: 1.4rem;

		.cookie-btn {
			margin-top: 1.4em;
			padding: 0.5em 2.5em;
			font-size: 1.7rem;
		}
	}

	//main
	.main {
		.aboutus {
			display: flex;
			flex-direction: column;
			padding: 0em 2.2em;

			&__img {
				margin-bottom: 2em;
			}

			&__text {
				font-size: 1.5rem;
				line-height: 2.5rem;

				h3 {
					font-size: 1.8rem;
					margin-bottom: 0.4em;
				}
			}
		}

		.banner {
			&__text {
				padding: 1em 2.7em;
				font-size: 1.7rem;
			}
		}

		//offer
		.offer {
			&__cards {
				.card {
					margin: 1.3em 0em;
					width: 55%;

					&-title {
						font-size: 2.2rem;
					}

					&-price {
						font-size: 3.1rem;
					}
				}
			}

			.btn-more {
				.more-offer-btn {
					padding: 1em 3em;
					font-size: 1.7rem;
				}
			}
		}

		//all-offer
		.all-offer {
			padding: 1em 3em;

			&__cards {
				.card {
					margin: 1.7em 0em;
					width: 80%;

					.card__img {
						padding: 9em;
					}

					.card__text {
						padding: 2em 0em;

						.card-title {
							font-size: 2.2rem;
						}

						.card-price {
							font-size: 3.5rem;
						}

						.options {
							margin-bottom: 1.2em;
							font-size: 1.6rem;

							p {
								margin-bottom: 0.7em;
							}
						}

						.select-btn {
							padding: 0.5em 4em;
							font-size: 1.7rem;
						}
					}
				}
			}
		}

		//contact
		.contact {
			padding: 0em 3em;

			.sub-title {
				font-size: 1.5rem;
			}

			.form {
				form {
					font-size: 1.6rem;

					.form-box {
						margin-bottom: 0.8em;

						label {
							font-size: 1.5rem;
						}

						input,
						textarea {
							padding: 0.7em 1.2em;
							font-size: 1.5rem;
						}
					}

					.form-box .error-text {
						font-size: 1.4rem;
					}

					.btns {
						.send,
						.clear {
							width: 37%;
							font-size: 1.6rem;
						}
					}

					.popup {
						padding: 3em 1.5em;
						width: 80%;
						border: 2px solid c.$black;

						p {
							margin-bottom: 1em;
						}

						.close {
							padding: 0.6em 2em;
							font-size: 1.6rem;
						}
					}
				}
			}

			.social-media {
				width: 80%;

				.list {
					&__element {
						.fa-brands {
							padding: 0.5em;
						}
					}
				}
			}

			.other {
				margin-top: 1.7em;

				.list {
					&__element {
						margin: 1.2em 0;

						p {
							font-size: 1.7rem;

							.fa-solid {
								font-size: 2.3rem;
							}
						}
					}
				}
			}
		}
	}
}

@media (min-width: 768px) {
	.nav-mobile {
		a.nav__link {
			font-size: 2rem;
		}
	}

	//cookies
	.cookie-box {
		font-size: 1.5rem;

		.cookie-btn {
			padding: 0.5em 3em;
		}
	}

	//hero-img
	.hero-img {
		background-image: url('../../dist/img/jungle-1280.jpg');
		background-position-y: 70%;

		.hero__text {
			p {
				font-size: 1.9rem;
			}

			h1 {
				font-size: 3.1rem;
			}
		}
	}

	.section-title {
		font-size: 2.8rem;
	}

	//main
	.main {
		.aboutus {
			flex-direction: row;
			justify-content: space-around;

			&__img,
			&__text {
				width: 50%;
				height: 50%;
			}

			&__img {
				margin-right: 2em;
			}

			&__text {
				font-size: 1.4rem;
				line-height: 2.8rem;

				h3 {
					font-size: 2rem;
					margin-bottom: 0.4em;
				}
			}
		}

		.banner {
			height: 30vh;

			&__text {
				padding: 1em 4em;
				font-size: 2.3rem;
			}
		}

		//offer
		.offer {
			.sub-title {
				margin-bottom: 2em;
				font-size: 1.8rem;
			}

			&__cards {
				flex-direction: row;
				justify-content: center;
				flex-wrap: wrap;


				.card {
					.card-title {
						font-size: 2.3rem;
					}

					margin: 1em;
					width: 42%;
				}

				.select-btn {
					font-size: 1.8rem;
				}
			}

			.btn-more {
				.more-offer-btn {
					margin-top: 2.5em;
				}
			}
		}

		//all-offer
		.all-offer {
			padding: 2em 3em;

			.sub-title {
				font-size: 1.9rem;
			}

			&__cards {
				.card {
					flex-direction: row;
					width: 90%;

					.card__img {
						padding: 12em 5em;
						width: 50%;
					}

					.card__text {
						width: 50%;
					}
				}
			}
		}

		//contact
		.contact {
			padding: 0em 4em;

			.sub-title {
				margin-bottom: 4em;
				font-size: 1.9rem;
			}

			.form {
				form {
					.form-box {
						margin-bottom: 1em;

					}

					.form-box .error-text {
						font-size: 1.5rem;
					}

					.btns {
						.send,
						.clear {
							padding: 1em 2em;
							width: 33%;
						}
					}

					.popup {
						p {
							font-size: 1.7rem;
							margin-bottom: 2em;
						}

						.close {
							padding: 0.8em 2.7em;
						}
					}
				}
			}

			.social-media {
				width: 50%;

				.list {
					justify-content: space-evenly;

					&__element {
						.fa-brands {
							padding: 0.7em;
						}
					}
				}
			}

			.other {
				justify-content: center;
				margin-top: 3em;

				.list {
					display: flex;
					justify-content: center;
					align-items: center;
					flex-direction: row;
					width: 100%;

					&__element {
						margin: 0em 2em;

						p {
							font-size: 1.8rem;

							.fa-solid {
								font-size: 2.4rem;
							}
						}
					}
				}
			}

			.adress-box {
				margin-top: 3em;
				font-size: 1.7rem;
			}
		}
	}

	// footer
	.footer {
		.wrapper {
			.footer__top {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin: 0em 3em;
				padding: 3em 1em;

				&--brand-logo {
					a {
						text-decoration: none;
						font-size: 3.3rem;
						color: c.$black;

						i {
							margin-right: 0.2em;
							font-size: 3.7rem;
							color: c.$dark-grey;
						}
					}
				}

				&-links {
					display: flex;

					.link-container {
						display: flex;
						flex-direction: column;
						margin: 0em 1em;

						h3 {
							font-size: 2rem;
						}

						h3,
						a {
							margin-bottom: 0.4em;
						}

						a {
							font-size: 1.4rem;
							text-decoration: none;
							color: c.$black;
							transition: color 0.3s;
						}

						a:hover {
							font-weight: bold;
							color: c.$green;
						}
					}
				}
			}
		}

		.footer__bottom {
			margin-top: 0em;
			font-size: 1.4rem;
			border-top: 1px solid c.$dark-grey;
		}
	}
}

@media (min-width: 992px) {
	//cookies
	.cookie-box {
		.cookie-btn {
			padding: 0.5em 4em;
		}
	}

	// header
	.header {
		.navbar {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			padding: 0em 1em;

			.hamburger {
				display: none;
			}

			.nav {
				&-desktop {
					display: block;
				}

				&__link {
					color: c.$black;
					display: inline-block;
					padding: 1.7em 1.2em;

					&:hover {
						color: c.$white;
						background-color: c.$black;
					}
				}
			}
		}
	}

	//hero-img
	.hero-img {
		.hero__text {
			p {
				font-size: 2rem;
			}

			h1 {
				font-size: 3.4rem;
			}
		}
	}

	// main
	.main {
		.section-title {
			font-size: 3.5rem;
		}

		.aboutus {
			margin-top: 2em;
			padding: 0em 3em;

			&__img,
			&__text {
				width: 45%;
			}

			&__img {
				margin-right: 0;
			}

			&__text {
				font-size: 1.5rem;
				line-height: 2.9rem;

				h3 {
					font-size: 2.3rem;
					margin-bottom: 0.4em;
				}
			}
		}

		.banner {
			height: 35vh;
			
			&__text {
				padding: 1.1em 7em;
				font-size: 2.5rem;
			}
		}

		//offer
		.offer {
			&__cards {
				.card {
					width: 33%;
				}
			}

			.btn-more {
				.more-offer-btn {
					padding: 1em 4.5em;
					font-size: 1.8rem;
				}
			}
		}

		//contact
		.contact {
			.form {
				form {
					.form-box {
						margin-bottom: 1.3em;

						label {
							font-size: 1.6rem;
						}
					}

					.btns {
						.send,
						.clear {
							width: 27%;
						}
					}
				}
			}

			.other {
				.list {
					&__element {
						p {
							font-size: 1.9rem;

							.fa-solid {
								font-size: 2.5rem;
							}
						}
					}
				}
			}
		}
	}

	// footer
	.footer {
		.wrapper {
			.footer__top {
				margin: 0em 5.5em;
				padding: 3em 1em;

				&--brand-logo {
					a {
						font-size: 3.5rem;

						i {
							font-size: 3.9rem;
						}
					}
				}

				&-links {
					.link-container {
						margin-right: 2em;

						h3 {
							font-size: 2.1rem;
						}

						h3,
						a {
							margin-bottom: 0.7em;
						}

						a {
							font-size: 1.5rem;
						}
					}
				}
			}
		}
	}
}

@media (min-width: 1200px) {
	//cookies
	.cookie-box {
		padding: 2.2em 4em;
		.cookie-btn {
			padding: 0.5em 4.5em;
		}
	}

	// header
	.header {
		.navbar {
			.hamburger {
				display: none;
			}

			.nav {
				&-desktop {
					display: block;
				}
			}
		}
	}

	//main
	.main {
		.banner {
			&__text {
				padding: 1.1em 8em;
				font-size: 2.1rem;
			}
		}
		//offer
		.offer {
			&__cards {
				.card {
					width: 25%;
				}
			}
		}

		//all-offer
		.all-offer {
			padding: 1em 3em;

			&__cards {
				.card {
					.card__img {
						padding: 12.7em 0em;
					}

					.card__text {
						.card-title {
							font-size: 2.4rem;
						}

						.card-price {
							font-size: 3.7rem;
						}

						.options {
							font-size: 1.7rem;

							p {
								margin-bottom: 0.8em;
							}
						}

						.select-btn {
							padding: 0.5em 4.5em;
							font-size: 1.8rem;
						}
					}
				}
			}
		}

		//contact
		.contact {
			.form {
				form {
					.rodo-box {
						margin-bottom: 1.4em;
					}

					.popup {
						width: 40%;
					}
				}
			}
		}
	}
}

@media (min-width: 1400px) {
	//main
	.main {
		.banner {
			&__text {
				padding: 1.1em 10em;
			}
		}
	}
}
